.array-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    /* border: 1px solid white; */
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.bars {
    background-color: blue;
    /* margin: 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
