.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 0;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}

.sorts {
    cursor: pointer;
    /* background-color: red; */
    padding: 100;
}

.sorts:hover {
    color: blue;
}