body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

#texts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

#texts input {
  margin: 0;
  background-color: black;
  color: white;
}

#texts p {
  margin-top: 0;
  font-size: 18px;
  text-align: 'center';
}

#range {
  width: 190px;
  cursor: pointer;
}

#rangeSpeed {
  width: 230px;
  cursor: pointer;
  /* transform: rotate(180deg); */
}